:root {
  --black: #000;
  --midBlue: #554fff;
  --gray: #5A5959;
  --white: #fff;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.headDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}